<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Override the receiver to be exported for debug builds -->
        <receiver
            android:name="com.termux.api.TermuxApiReceiver"
            android:exported="true"
            tools:node="merge"
            tools:replace="android:exported" />

        <!-- Narrow receiver to start KeepAliveService from adb / external callers -->
        <receiver
            android:name="com.termux.api.StartServiceReceiver"
            android:exported="true" />
    </application>

</manifest>
